@use '_mixins' as mixin;
@use '_varibles' as *;

.bgwtext {
	.bgimg {
		background-image: url(images/cross-linking-bg.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 450px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding-top: 4vh;
		padding-bottom: 4vh;
	}
	.container > * {
		color: #fff;
	}
	h2 {
		color: #fff;
		border-top: 1px solid #E1E5EA;
		padding-top: .5em;
	}
	img {
		max-width: 100%;
	}
}