.postitem {
	display: flex;
	padding-top: 80px;
	padding-bottom: 42px;
	border-bottom: 1px solid #E1E5EA;
	.pitemimg {
		min-width: 20%;
		max-width: 50%;
		padding-right: 83px;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	.btn {
		margin-bottom: 0;
	}
	.pcontent {
		width: 50%;
	}
}