@use '_varibles' as *;
footer {
	background-color: #F5F5F5;
	padding-top: 1em;
	padding-bottom: 180px;
	@media screen and (max-width: 767px) {
	  padding-bottom: 4em;
	  padding-top: 2em;
	}

	p {
		text-align: center;
		font-size: 12px;
		margin-bottom: .5em;
		a {
			color: $text;
		}
		img {
			position: relative;
			top: .3em;
			margin-left: .3em;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}