@use "variables" as *;



.text-center{
	text-align: center;
} 

.uppercase{
	text-transform: uppercase;
}

.font-semibold{
	font-weight: 500;
}

body .mb-none{
	margin-bottom: 0;
}

body .mt-none{
	margin-top: 0;
}

body .pb-none{
	padding-bottom: 0;
}

body .pt-none{
	padding-top: 0;
}

@media only screen and (min-width: 960px) {
	.layout-container{
		max-width: $max-width-container;
		margin: 0 auto;
	}
}



// colors

.color-white{
	color: $base;
}
