@use '_mixins' as mixin;
@use '_varibles' as *;
.mapbox {
	.mapwrap {
		background-color: #fff;
			@include mixin.boxshadow;
			display: flex;
			height: 337px;
			@media screen and (max-width: 767px) {
			  height: auto;
			  flex-wrap: wrap;
			}
	}
	.mapimg {
		width: 50%;
		background-image: url(images/mab-bg.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@media screen and (max-width: 767px) {
		  width: 100%;
		  min-height: 337px;
		  order:2;
		}
	}
	.contactbox {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 50%;
		@media screen and (max-width: 767px) {
		  width: 100%;
		}
		div	{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			@media screen and (max-width: 767px) {
			  padding:1em;
			  text-align: center;
			}
			& > img {
				margin-bottom: 2em;
				margin-top: 1em;
			}
		}

		p {
			font-size: 13px;
			margin-bottom: .2em;
			&.mb1 {
				margin-bottom: .5em;
			}
		}
		ul {
			margin:0;
			display: flex;
			align-items: center;
			padding-top: 1em;
		}
		li {
			padding-right: 1.5em;
			list-style: none;
			padding-bottom: 0;
			a {
				display: block;
			}
			&:last-of-type {
				padding-right: 0;
			}
		}
	}
	p.call {
		color: $brand;
		font-size: 19px;
		 a {
		 	color: $brand;
		 	font-size: 19px;
		 }
	}
}