html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* COLORS */
/* FONTS */
/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/nunito-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/nunito-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/nunito-v16-latin-regular.woff2") format("woff2"), url("fonts/nunito-v16-latin-regular.woff") format("woff"), url("fonts/nunito-v16-latin-regular.ttf") format("truetype"), url("fonts/nunito-v16-latin-regular.svg#Nunito") format("svg");
  /* Legacy iOS */
}
/* nunito-600 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/nunito-v16-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/nunito-v16-latin-600.eot?#iefix") format("embedded-opentype"), url("fonts/nunito-v16-latin-600.woff2") format("woff2"), url("fonts/nunito-v16-latin-600.woff") format("woff"), url("fonts/nunito-v16-latin-600.ttf") format("truetype"), url("fonts/nunito-v16-latin-600.svg#Nunito") format("svg");
  /* Legacy iOS */
}
/* nunito-900 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/nunito-v16-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/nunito-v16-latin-900.eot?#iefix") format("embedded-opentype"), url("fonts/nunito-v16-latin-900.woff2") format("woff2"), url("fonts/nunito-v16-latin-900.woff") format("woff"), url("fonts/nunito-v16-latin-900.ttf") format("truetype"), url("fonts/nunito-v16-latin-900.svg#Nunito") format("svg");
  /* Legacy iOS */
}
body {
  font-size: 17px;
  font-weight: 400;
  color: #686868;
  line-height: 1.6;
  font-family: "Nunito", sans-serif;
}

p {
  font-size: 17px;
  font-weight: 400;
  color: #686868;
  line-height: 1.6;
  margin-bottom: 1em;
}

a {
  font-weight: 600;
  color: #007FCD;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  margin-left: 1em;
  margin-bottom: 1em;
}
ul li {
  list-style-type: disc;
  list-style-position: inside;
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 0.3em;
}
ul li::marker {
  color: #007FCD;
}

ol {
  margin-left: 1em;
  margin-bottom: 1em;
}
ol li {
  font-size: 17px;
  font-weight: 400;
  list-style-type: decimal;
  list-style-position: inside;
}
ol li::marker {
  color: #007FCD;
  font-weight: 600;
}

/* BUTTONS */
.wp-block-button {
  margin-bottom: 0 !important;
}

.btn,
.wp-block-button__link {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #007FCD;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border-radius: 0;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.25);
  min-width: 150px;
  text-align: center;
  padding: 1em 1em;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 1em;
}
.btn:hover,
.wp-block-button__link:hover {
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: #E48212;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 1.25;
  margin-bottom: 16px;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  line-height: 1.25;
  margin-bottom: 16px;
}

h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 1;
  line-height: 1.25;
  margin-bottom: 16px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.show-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 767px) {
  .hide--m {
    display: none;
  }

  .show--m {
    display: block;
  }

  .show-flex--m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (min-width: 960px) {
  .hide--l {
    display: none;
  }

  .show--l {
    display: block;
  }

  .show-flex--l {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.font-semibold {
  font-weight: 500;
}

body .mb-none {
  margin-bottom: 0;
}

body .mt-none {
  margin-top: 0;
}

body .pb-none {
  padding-bottom: 0;
}

body .pt-none {
  padding-top: 0;
}

@media only screen and (min-width: 767px) {
  .text-left--m {
    text-align: left;
  }

  .text-right--m {
    text-align: right;
  }

  .text-center--m {
    text-align: center;
  }
}
@media only screen and (min-width: 960px) {
  .text-left--l {
    text-align: left;
  }

  .text-right--l {
    text-align: right;
  }

  .text-center--l {
    text-align: center;
  }
}
.layout-container {
  max-width: 1360px;
  margin: 0 auto;
}

@media only screen and (min-width: 767px) {
  .layout-container--m {
    max-width: 1360px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 960px) {
  .layout-container--l {
    max-width: 1360px;
    margin: 0 auto;
  }
}
.color-white {
  color: #ffffff;
}

ul.custom-list-bullet {
  list-style-image: url("images/bullet.png");
  margin: 0;
}

.wp-block-pullquote:not(.is-style-solid-color),
.wp-block-pullquote {
  padding: 3em 9em;
  color: #ffffff;
  background-color: #F5F5F5;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 394px;
}
.wp-block-pullquote:not(.is-style-solid-color) blockquote p,
.wp-block-pullquote blockquote p {
  font-style: italic;
  margin-top: 2em;
  font-size: 20px;
  line-height: 2;
  text-align: center;
}
.wp-block-pullquote:not(.is-style-solid-color) blockquote::before,
.wp-block-pullquote blockquote::before {
  content: "";
  background-image: url(images/quote.svg);
  width: 97px;
  height: 78px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.quotebg {
  padding: 3em 9em;
  color: #ffffff;
  background-color: #F5F5F5;
  margin-bottom: 1em;
  background-image: url(images/quotebg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  min-height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quotebg::after {
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 86, 96, 0.5);
}
.quotebg blockquote {
  position: relative;
  z-index: 3;
}
.quotebg blockquote p {
  font-style: italic;
  margin-top: 2em;
  font-size: 20px;
  line-height: 2;
  text-align: center;
  color: #ffffff;
}
.quotebg blockquote::before {
  content: "";
  background-image: url(images/quote-white.svg);
  width: 97px;
  height: 78px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.block-hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.block-hero__content {
  padding-top: 130px;
  padding-bottom: 75px;
}
.block-hero .is-heading {
  font-size: 23px;
  line-height: 1.5;
}
.block-hero .is-heading span {
  display: block;
  font-weight: 400;
}
.block-hero__text {
  padding-left: 40px;
  padding-right: 40px;
  font-style: italic;
}
.block-hero__text * {
  color: #ffffff;
  font-size: 14px;
}
.block-hero-btn {
  font-size: 13px;
  line-height: normal;
  margin-top: 45px;
}
.block-hero-btn .btn {
  border: none;
  font-weight: 600;
  padding: 15px 20px;
}

@media only screen and (min-width: 767px) {
  .block-hero {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
  .block-hero__logo {
    margin-bottom: 50px;
  }
  .block-hero .is-heading {
    font-size: 33px;
  }
  .block-hero .is-heading span {
    display: inline;
  }
  .block-hero__content {
    max-width: 780px;
    padding-top: 275px;
    padding-bottom: 375px;
  }
  .block-hero__text {
    padding: 0;
  }
  .block-hero__text * {
    font-size: 18px;
  }
}
.block-surgery-types {
  padding-top: 80px;
  padding-bottom: 100px;
  overflow: hidden;
}
.block-surgery-types__items .slick-list {
  overflow: visible;
}
.block-surgery-types__item-inner {
  border: 1px solid #F5F5F5;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  position: relative;
}
.block-surgery-types__item-inner.bottom-artifact:after {
  content: "";
  height: 7px;
  width: 125px;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}
.block-surgery-types__item-inner.bottom-artifact-blue:after {
  background: #007FCD;
}
.block-surgery-types__item-inner.bottom-artifact-orange:after {
  background: #E48212;
}
.block-surgery-types__item-inner.bottom-artifact-green:after {
  background: #60A76D;
}
.block-surgery-types__item-inner.bottom-artifact-mustard:after {
  background: #C9A718;
}
.block-surgery-types__item {
  margin: 0 10px;
}
.block-surgery-types__item ul {
  margin: 0;
}
.block-surgery-types__item ul li {
  font-size: 13px;
}
.block-surgery-types__item-heading .is-heading {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.block-surgery-types__item-img {
  margin-top: -50px;
}
.block-surgery-types__item-img img {
  max-height: 95px;
  width: auto;
  margin: 0 auto;
}
.block-surgery-types__items-controls {
  margin-top: 30px;
}
.block-surgery-types__items-controls button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
.block-surgery-types__items-controls button:first-of-type {
  margin-right: 25px;
}

@media only screen and (min-width: 767px) {
  .block-surgery-types {
    padding-left: 20px;
    padding-right: 20px;
  }
  .block-surgery-types__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .block-surgery-types__item {
    margin: 0;
  }
  .block-surgery-types__item:not(:first-of-type) {
    display: block;
  }
  .block-surgery-types__item + div {
    margin-left: 30px;
  }
}
@media only screen and (min-width: 1150px) {
  .block-surgery-types__item-inner {
    padding-left: 25px;
    padding-right: 25px;
  }
  .block-surgery-types__items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .block-surgery-types__item-heading .is-heading {
    font-size: 22px;
  }
  .block-surgery-types__item {
    -ms-flex-preferred-size: calc( 100% / 4);
        flex-basis: calc( 100% / 4);
  }
  .block-surgery-types__item ul li {
    font-size: 15px;
  }
}
.block-1-2__contents {
  padding: 45px 25px 0px;
}
.block-1-2__contents-heading-top {
  max-width: 545px;
}
.block-1-2__contents-heading-top .is-heading {
  font-size: 15px;
  color: #007FCD;
  padding-bottom: 15px;
  border-bottom: 1px solid #E1E5EA;
}
.block-1-2__contents-heading .is-heading {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.5;
  margin-top: 25px;
  margin-bottom: 25px;
}
.block-1-2__contents-heading .is-heading span {
  font-weight: normal;
}
.block-1-2__image span {
  display: block;
  padding-top: calc( 253 / 376 * 100%);
  background-color: #efefef;
}
.block-1-2__contents-buttons {
  margin-top: 25px;
}
.block-1-2__contents-buttons .btn {
  display: block;
  font-weight: 600;
}
.block-1-2-blue {
  background-color: #007FCD;
  color: #ffffff;
}
.block-1-2-blue .block-1-2__contents-heading-top .is-heading {
  color: #ffffff;
}
.block-1-2-blue .block-1-2__contents-text {
  color: #ffffff;
}
.block-1-2-blue .block-1-2__contents-text p {
  color: inherit;
}

@media only screen and (min-width: 767px) {
  .block-1-2 {
    margin-bottom: 130px;
    padding-top: 80px;
    padding-bottom: 140px;
  }
  .block-1-2__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .block-1-2__contents-heading .is-heading {
    font-size: 32px;
  }
  .block-1-2__contents-heading .is-heading span:not(.inline--m) {
    display: block;
  }
  .block-1-2__image {
    width: 40%;
    max-width: 490px;
    -ms-flex-preferred-size: 490px;
        flex-basis: 490px;
    margin-top: -150px;
  }
  .block-1-2__image span {
    display: block;
    padding-top: calc( 688 / 492 * 100%);
    background-color: #efefef;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.15);
  }
  .block-1-2__contents {
    width: 60%;
    max-width: 768px;
    -ms-flex-preferred-size: 768px;
        flex-basis: 768px;
    margin-left: 20px;
  }
  .block-1-2__contents-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .block-1-2__contents-buttons .btn {
    border: 0;
  }
  .block-1-2__contents-buttons .btn + .btn {
    margin-left: 20px;
  }
  .block-1-2-reverse .block-1-2__contents {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 0;
    margin-right: 20px;
  }
  .block-1-2-reverse .block-1-2__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: auto;
  }
  .block-1-2-reverse .block-1-2__image span {
    padding-top: calc( 629 / 491.5 * 100%);
  }
}
@media only screen and (min-width: 960px) {
  .block-1-2__contents {
    margin-left: 100px;
  }
  .block-1-2-reverse .block-1-2__contents {
    margin-right: 100px;
  }
}
@media only screen and (min-width: 767px) {
  .block-1-2.block-1-2-vision {
    background-image: url("images/logo-watermark.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #F5F5F5;
    margin-top: 140px;
    -webkit-box-shadow: 0px 10px 30px -25px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 10px 30px -25px rgba(0, 0, 0, 0.2);
  }
}
/*
Theme Name: CVP THEME
Description: A custom theme built by the FS.
Author: FS
Version: 1.0
*/